* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

.container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.main-btn:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  color: #d66559;
  font-weight: bold;
}

.off-btn:hover {
  cursor: pointer;
  background-color: #b0b0b0;
  color: white;
  font-weight: bold;
}

.form--login {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: repeat(2, 32px) 24px 100px;
  row-gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

ion-icon {
  font-size: 32px;
  background-color: #ffa599;
  padding: 10px;
}

.h1--login {
  font-size: 28px;
}

.input {
  font-size: 14px;
  border: none;
  box-shadow: 0 1px 0 0 #f1f1f1;
  width: 100%;
  padding-top: 30px;
  transition: 300ms ease;
}

.input:focus {
  outline: none;
  border: none;
  box-shadow: 0 1px 0 0 #ffa599;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #d66559;
  color: white;
  padding: 10px;
  align-self: end;
  transition: 300ms ease;
}

.error-msg {
  font-size: 12px;
  color: darkslategray;
  align-self: start;
}

.confirmation {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 200px;
  grid-auto-rows: 50px;
  row-gap: 10px;
  justify-items: center;
  align-items: center;
}

.confirmation--img {
  width: 160px;
}

.confirmation--h1 {
  font-size: 26px;
}

.confirmation--p {
  font-size: 14px;
  color: darkslategrey;
  justify-self: center;
}

.contact-list {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.list-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.list-title {
  flex: 1;
  font-size: 28px;
}

.list-newBtn {
  border: none;
  border-radius: 5px;
  background-color: #d66559;
  color: white;
  padding: 10px;
  transition: 300ms ease;
}

.list-signOutBtn {
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  transition: 300ms ease;
}

.contact-card {
  display: grid;
  grid-gap: 10px;
}

.list-card {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 1px 0 0 #f1f1f1;
  padding-bottom: 10px;
}

.card--img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.card--name {
  font-weight: bold;
  font-size: 16px;
}

.card--number {
  color: darkslategrey;
  font-size: 12px;
}

.card--removebtn {
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: black;
  margin-left: auto;
  padding: 10px;
  font-weight: bold;
  transition: 300ms ease;
}

.newContact--container {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;
}

.form--addNewContact {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  align-self: center;
}

.inputWrap--addContact {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
  margin-top: 50px;
}

.input--element {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input--element input {
  width: 100%;
  border: none;
  box-shadow: 0 1px 0 0 #f1f1f1;
  padding: 8px 0;
  font-size: 14px;
  transition: 300ms ease;
}

.input--element input:focus {
  outline: none;
  border: none;
  box-shadow: 0 1px 0 0 #ffa599;
}

.input--element input::-webkit-outer-spin-button,
.input--element input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 300ms ease;
}

.label label {
  display: block;
  font-size: 14px;
  color: #b0b0b0;
}

.input--element input:focus + .label,
.input--element input:not(:placeholder-shown) + .label {
  transform: translateY(-27px);
}

.input--element input:focus + .label label {
  font-weight: 500;
  color: black;
}

.cancel-btn {
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: black;
  padding: 10px;
  transition: 300ms ease;
}

.felippe {
  font-weight: bold;
  background-color: black;
  color: purple;
  border: 1px solid red;
}
