* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

.container {
  border: 1px solid black;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.form--login {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: repeat(2, 32px) 24px 100px;
  row-gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

ion-icon {
  font-size: 32px;
  background-color: #ffa599;
  padding: 10px;
}

.h1--login {
  font-size: 28px;
}

.input {
  font-size: 14px;
  border: none;
  box-shadow: 0 1px 0 0 #f1f1f1;
  width: 100%;
  padding-top: 30px;
}

.input:focus {
  outline: none;
  border: none;
  box-shadow: 0 1px 0 0 #ffa599;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #d66559;
  color: white;
  padding: 10px;
  align-self: end;
  cursor: pointer;
}

.error-msg {
  font-size: 12px;
  color: darkslategray;
  align-self: start;
}

.confirmation {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 200px;
  grid-auto-rows: 50px;
  row-gap: 10px;
  justify-items: center;
  align-items: center;
}

.confirmation--img {
  width: 160px;
}

.confirmation--h1 {
  font-size: 26px;
}

.confirmation--p {
  font-size: 14px;
  color: darkslategrey;
  justify-self: center;
}

.contact-list {
  border: 1px solid orange;
  display: grid;
}

.list-card {
  display: grid;
  border: 1px solid red;
}

.card--img {
  height: 50px;
  width: 50px;
}
